<%= form_with(model: fighter) do |form| %>
  <% if fighter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
        <% fighter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fighter_name %>
    <%= form.text_field :fighter_name %>
  </div>

  <div class="field">
    <%= form.label :fighter_age %>
    <%= form.number_field :fighter_age %>
  </div>

  <div class="field">
    <%= form.label :fighter_height %>
    <%= 
  form.select :fighter_height, 
  options_for_select(
    (36..96).to_a.map { |inch| 
      { 
        id: inch.to_s, 
        name: (inch/12).floor.to_s+'\''+(inch%12).to_s+'"' 
      } 
    }.collect{ |p| 
      [p[:name], 
      p[:id].to_i]
    },
    :fighter_height),
    {},
    id: 'height' 
%>
  </div>

  <div class="field">
    Fighter Weight in KG
    <%= form.number_field :fighter_weight %>
  </div>

  <div class="field">
    <%= form.label :fighter_gender %>
    <%= form.select :fighter_gender, options_for_select(['Male', 'Female'])  %>
  </div>

  <div class="field">
    <%= form.label :fighter_experience %>
    <%= form.select :fighter_experience, options_for_select(['None', 'A few fights', 'Lots of Fights'])  %>
  </div>

  <div class="field">
    <%= form.label :fighter_skill %>
     <%= form.select :fighter_skill, options_for_select(['Novice', 'Intermediate', 'Advanced'])  %>
  </div>



  <div class="field">
    <%= form.label :fighter_score %>
    <%= form.number_field :fighter_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
