<p id="notice"><%= notice %></p>

<h1>Fighters</h1>

<table>
  <thead>
    <tr>
      <th>Fighter name</th>
      <th>Fighter age</th>
      <th>Fighter height</th>
      <th>Fighter weight</th>
      <th>Fighter gender</th>
      <th>Fighter experience</th>
      <th>Fighter skill</th>
      <th>Fighter score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fighters.each do |fighter| %>
      <tr>
        <td><%= fighter.fighter_name %></td>
        <td><%= fighter.fighter_age %></td>
        <td><%= fighter.fighter_height %></td>
        <td><%= fighter.fighter_weight %></td>
        <td><%= fighter.fighter_gender %></td>
        <td><%= fighter.fighter_experience %></td>
        <td><%= fighter.fighter_skill %></td>
        <td><%= fighter.fighter_score %></td>
        <td><%= link_to 'Show', fighter %></td>
        <td><%= link_to 'Edit', edit_fighter_path(fighter) %></td>
        <td><%= link_to 'Destroy', fighter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fighter', new_fighter_path %>
