<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @fighter.fighter_name %>
</p>

<p>
  <strong>age:</strong>
  <%= @fighter.fighter_age %>
</p>

<p>
  <strong>height:</strong>
  <%= (@fighter.fighter_height.to_f / 12).round(1)  %>'
</p>

<p>
  <strong>weight:</strong>
  <%= @fighter.fighter_weight %> KG
</p>

<p>
  <strong>gender:</strong>
  <%= @fighter.fighter_gender %>
</p>

<p>
  <strong>experience:</strong>
  <%= @fighter.fighter_experience %>
</p>

<p>
  <strong>skill:</strong>
  <%= @fighter.fighter_skill %>
</p>

<p>
  <strong>Fighter score:</strong>
  <%= @fighter.fighter_score %>
</p>

<%= link_to 'Edit', edit_fighter_path(@fighter) %> | <i class="fas fa-arrow-left"></i>
<%= link_to 'Back', fighters_path %>
