<%= form_with(model: tournament_event) do |form| %>
  <% if tournament_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament_event.errors.count, "error") %> prohibited this tournament_event from being saved:</h2>

      <ul>
        <% tournament_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name %>
  </div>

  <div class="field">
    <%= form.label :total_contestants %>
    <%= form.number_field :total_contestants %>
  </div>

  <div class="field">
    <%= form.label :tournament_date %>
    <%= form.datetime_select :tournament_date %>
  </div>


  <h1>Fighters</h1>

<table>
  <thead>
    <tr>
      <th>select</th>
      <th>name</th>
      <th>age</th>
      <th>height</th>
      <th>weight</th>
      <th>gender</th>
      <th>experience</th>
      <th>skill</th>
      <th>score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fighters.each do |fighter| %>
      <tr>
        <td><%= check_box_tag 'fighter_ids[]', fighter.id %></td>
        <td><%= fighter.fighter_name %></td>
        <td><%= fighter.fighter_age %></td>
        <td><%= (fighter.fighter_height.to_f / 12).round(1)  %></td>
        <td><%= fighter.fighter_weight %></td>
        <td><%= fighter.fighter_gender %></td>
        <td><%= fighter.fighter_experience %></td>
        <td><%= fighter.fighter_skill %></td>
        <td><%= fighter.fighter_score %></td>
        <td><%= link_to 'Show', fighter %></td>
        <td><%= link_to 'Edit', edit_fighter_path(fighter) %></td>
        <td><%= link_to 'Destroy', fighter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  <div class="actions">
    <%= form.submit %>
  </div>


  
<% end %>
